 <ion-header-bar>
<div data-role="page" class="inner_page  notification_page" id="notification">
        <header>
            <div class="back" ng-click="back()"><img src="img/back.png" alt=""></div>
            <h4 class="">Notification</h4>
        </header>
    </div>
 </ion-header-bar>

<ion-content>
    <div data-role="page" class="inner_page  notification_page" id="notification">
        
        <div class="bar_noti">
            <div class="notification_area" ion-ripple>
                <img src="img/men.png" alt="">
                <p>You Have Benn matched with <span>Jhon Deo</span></p>
                <div class="noti_date">1 Hour Ago</div>
            </div>
            <!-- bar_noti -->
            <div class="notification_area" ion-ripple>
                <img src="img/men.png" alt="">
                <p>You Have Benn matched with <span>Jhon Deo</span></p>
                <div class="noti_date">1 Hour Ago</div>
            </div>
            <!-- bar_noti -->
            <div class="notification_area" ion-ripple>
                <img src="img/men.png" alt="">
                <p>You Have Benn matched with <span>Jhon Deo</span></p>
                <div class="noti_date">1 Hour Ago</div>
            </div>
            <!-- bar_noti -->
            <div class="notification_area" ion-ripple>
                <img src="img/men.png" alt="">
                <p>You Have Benn matched with <span>Jhon Deo</span></p>
                <div class="noti_date">1 Hour Ago</div>
            </div>
            <!-- bar_noti -->
            <div class="notification_area" ion-ripple>
                <img src="img/men.png" alt="">
                <p>You Have Benn matched with <span>Jhon Deo</span></p>
                <div class="noti_date">1 Hour Ago</div>
            </div>
            <!-- bar_noti -->
        </div>
        <!-- noti -->
    </div>
    <!-- notification -->
</ion-content>
