 <ion-header-bar>
 	<div data-role="page" class="inner_page profile_page" id="one_one_chat">
<header>
  <div class="back" ng-click="back()"><img src="img/back.png" alt=""></div>
<h4 class="chat_name">Prince</h4>
<div class="notfi" ng-click="notification_page()"><img src="img/noti.png" alt=""> <span>3</span></div>
</header> 
</div>
   </ion-header-bar>

<ion-content>
	<div data-role="page" class="inner_page profile_page" id="one_one_chat">
 <div class="inner_content pro_content">
 <div class="chat_body" id="messages"  >
    


<div class="typings">
    <div class="chat_sender "> 
        <div class="sbdr_img"><img src="" alt="" /></div> 
            <div class="typing"> 
             <span></span><span></span><span></span> 
             </div></div>
</div>

 </div><!-- chat --> 



</div><!-- pro_content --> 

</div><!-- add_interest --> 

 
</ion-content>

 <ion-footer-bar>
   
<div class="chat_bottom">
<textarea name="" id="m" data-role="none"></textarea>
<button type="button" id="cht" data-role="none"><img src="img/send-chat.png" alt=""></button>
</div>
</ion-footer-bar>



<script>
 
</script> 