 <ion-header-bar>
<div data-role="page" class="inner_page setting_page  notification_page" id="setting">
<header>
<div class="back" ng-click="back()"><img src="img/back.png" alt=""></div>
<h4 class="">Settings</h4>
</header>
</div>
</ion-header-bar>

<ion-content>
<div data-role="page" class="inner_page setting_page  notification_page" id="setting">

<div class="bar_noti">
<div class="notification_area" ion-ripple data-ui-sref="profileSetting">
<div class="setting_box">
<h4>Profile Setting</h4>    
</div>
</div><!-- bar_noti -->

<div class="notification_area" ion-ripple data-ui-sref="notification">
<a href="">
<div class="setting_box">
<h4>Notifications</h4>    
</div>
</div><!-- bar_noti -->

<div class="notification_area" ion-ripple>
<div class="setting_box">
<h4>Upgrade</h4>    
</div>
</div><!-- bar_noti -->

<div class="notification_area" ion-ripple>
<div class="setting_box">
<h4>Faq</h4>    
</div>
</div><!-- bar_noti -->

 <div class="notification_area" ion-ripple>
<div class="setting_box">
<h4>Contact Admin</h4>    
</div>
</div><!-- bar_noti -->


</div><!-- noti -->
</div><!-- notification -->

</ion-content>